<template name="postItem">
  <div class="post">

    <a href="#" class="upvote {{upvotedClass}}"><img src="{{picture}}" height="50px" width="50px"/></a>
    <div class="post-content">
      <h3><a href="{{pathFor 'postPage'}}">{{title}}</a><span>{{language}}</span></h3>
      <p>
        {{body}}
      </p>
      <p>
        {{pluralize votes "Vote"}},
        submitted by {{author}},
        <a href="{{pathFor 'postPage'}}">{{pluralize commentsCount "comment"}}</a>
        {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}}
      </p>
    </div>
    <a href="{{pathFor 'postPage'}}" class="discuss btn btn-default">Discuss</a>
  </div>
</template>