<template name="editProfile">
  <form class="main form page">
    <div class="form-group">
      <div class="controls">
        <h3>{{username}}</h3>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="nativeLanguage">Native Language</label>
      <div class="controls">
        <select name="nativeLanguage" id="nativeLanguage" class="form-control">
          <option value="Select">Select</option>
          {{#each languages}}
            <option value="{{name}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="languageOfStudy">Language of Study</label>
      <div class="controls">
        <select name="languageOfStudy" id="languageOfStudy" class="form-control">
          <option value="Select">Select</option>
          {{#each languages}}
            <option value="{{name}}">{{name}}</option>
          {{/each}}
        </select>
      </div>
    </div>
    <input type="submit" value="Save Changes" class="btn btn-primary submit"/>
  </form>
</template>